<footer id="gtco-footer" role="contentinfo">
    <div class="gtco-container">

        <div class="row copyright">
            <div class="col-md-12">
                <p class="pull-left">
                    <small class="block">&copy; 2018 Half Realty. All Rights Reserved.</small>
                    <small class="block">Designed by Egosun Hightech Inc.</small>
                </p>
                <p class="pull-right">
                    <small class="block">615 Las Tunas Dr. Suite A. Acadia, CA, 91007</small>
                    <small class="block">Tel: (626)-898-5078</small>
                    <!--<ul class="gtco-social-icons pull-right">-->
                    <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
                    <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
                    <!--<li><a href="#"><i class="icon-linkedin"></i></a></li>-->
                    <!--<li><a href="#"><i class="icon-dribbble"></i></a></li>-->
                    <!--</ul>-->
                </p>
            </div>
        </div>

    </div>
</footer>