<!DOCTYPE HTML>
<html>
<head>
    <% include components/head.ejs %>

</head>
<body>

<div class="gtco-loader"></div>

<div id="page">
    <% include childViews/thankyouHeader.ejs %>

    <% include components/footer.ejs %>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<% include components/tail.ejs %>
</body>
</html>

