<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        <div class="row">
            <div class="col-xs-6">
                <div id="gtco-logo"><a href="/">哈福地产</a></div>
            </div>
            <!--<div class="col-xs-8 text-center menu-1">-->
            <!--<ul>-->
            <!--<li class="active"><a href="index.html">Home</a></li>-->
            <!--<li><a href="about.html">About</a></li>-->
            <!--<li class="has-dropdown">-->
            <!--<a href="services.html">Services</a>-->
            <!--<ul class="dropdown">-->
            <!--<li><a href="#">Web Design</a></li>-->
            <!--<li><a href="#">eCommerce</a></li>-->
            <!--<li><a href="#">Branding</a></li>-->
            <!--<li><a href="#">API</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li class="has-dropdown">-->
            <!--<a href="#">Tools</a>-->
            <!--<ul class="dropdown">-->
            <!--<li><a href="#">HTML5</a></li>-->
            <!--<li><a href="#">CSS3</a></li>-->
            <!--<li><a href="#">Sass</a></li>-->
            <!--<li><a href="#">jQuery</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="contact.html">Contact</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <div class="col-xs-2 text-right hidden-xs menu-2">
                <ul>
                    <li class="btn-cta" id="nav-button-start"><a href="#" onclick="didHitGetStarted()"><span>Get Started</span></a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>

<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(images/maincover.png);">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1 style="color: #222222">50% 回馈</h1>
                        <h2 style="color: #222222">我们做买房，卖房，房屋管理，Escrow, 贷款一条龙服务</a>
                        </h2>
                        <p><a href="#" class="btn btn-default" onclick="didHitGetStarted()">Get Started</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>