<div id="gtco-features-2">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>哈福地产2018春节大放送 - 50%大酬宾</h2>
                <p>春节期间半价回馈新老客户</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                    <div class="feature-copy">

                        <h3>房屋买卖佣金</h3>
                        <p>买房、卖房都回馈50%的佣金给客户
                        </p>
                    </div>
                </div>

                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                    <div class="feature-copy">
                        <h3>Escrow 费用</h3>
                        <p>Escrow 费用一般为总房价的2%-3%，费用减免50%</p>
                    </div>
                </div>

                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                    <div class="feature-copy">
                        <h3>租赁服务</h3>
                        <p>房屋租赁管理服务费用减免50%</p>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="gtco-video gtco-bg" style="background-image: url(/images/property.jpg); ">
                    <!--<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i-->
                                <!--class="icon-video2"></i></a>-->
                    <!--<div class="overlay"></div>-->
                </div>
            </div>
        </div>
    </div>
</div>