<div id="gtco-features-2">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>哈福地产2018春节大放送 - 50%大酬宾</h2>
                <p>春节期间半价回馈新老客户</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                    <div class="feature-copy">

                        <h3>买卖佣金</h3>
                        <p>房屋买卖佣金高收费为3％（包含买卖双方的佣金），如擅自提高收费标是属于价格违法行为，需要由美国物价检查机构按有关法规予以处罚。
                        </p>
                    </div>
                </div>

                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                    <div class="feature-copy">
                        <h3>Escrow 费用</h3>
                        <p>Escrow 通常指买方过户费，一般是总房价的2%-3%</p>
                    </div>
                </div>

                <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                    <div class="feature-copy">
                        <h3>租房佣金</h3>
                        <p>租房中介费是指房屋中介机构介绍求租者与房东取得联系后，最后得以成交，求租者和房东的某一方或双方按一定的比例所支付给中介机构的佣金。</p>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="gtco-video gtco-bg" style="background-image: url(/images/property.jpg); ">
                    <!--<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i-->
                                <!--class="icon-video2"></i></a>-->
                    <!--<div class="overlay"></div>-->
                </div>
            </div>
        </div>
    </div>
</div>